$primary: rgb(255, 102, 102);
// $body-background-color: rgb(255, 102, 102);
$body-background-color: #f7f7f7;
$link: maroon;
//@import '~bulma/bulma/utilities/_all.scss';

@import '~bulma/sass/utilities/_all';